body{

font-family:Arial, sans-serif;

background:linear-gradient(135deg,#667eea,#764ba2);

height:100vh;

display:flex;

justify-content:center;

align-items:center;

}



.container{

background:white;

padding:40px;

width:450px;

border-radius:20px;

box-shadow:0 10px 30px rgba(0,0,0,0.2);

text-align:center;

}



h1{

color:#333;

}



input{

margin:20px;

padding:10px;

}



button{

background:#667eea;

color:white;

padding:12px 25px;

border:none;

border-radius:8px;

cursor:pointer;

font-size:16px;

}



button:hover{

background:#5563c1;

}



.result{

margin-top:25px;

background:#f4f4f4;

padding:20px;

border-radius:15px;

text-align:left;

}



li{

margin:8px;

}
p{

color:#666;

font-size:16px;

}


.result h2{

text-align:center;

color:#667eea;

}